// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* F O N T S */

@import url('https://fonts.googleapis.com/css?family=Anton|Quicksand:400,700|Lato:300,400,700');

    $main-font: 'Lato', sans-serif;
    $second-font: 'Anton', sans-serif;

/* --------------------FONTS----------------------------------*/



/* C O L O R S */

    $main-color:#193255;
    $main-color-dk:#14243a;
    $main-color-cl:#314f79;
    $grey: #323F45;
    $grey-clear:#F9F9F9;
    $white: #fff;

/* ---------------------COLORS----------------------------*/




/*S I Z E S*/

  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;

/* ----------------------SIZES-----------------------------------*/



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------------------RESET-------------------------------*/

html {
    font-size: 1em;
    overflow-x: hidden;

}

html,
body {

    overflow-x: hidden;
    padding: 0;
    height:auto;
    font-family:$main-font;
    font-weight: 400;
    line-height: 1.30;
    color: #000;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    list-style-type: none;
    list-style: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:$main-color;
    cursor: pointer;

    &:hover{
      @include transition(all .4s ease-in-out);


    }
}

p {
    margin-bottom: 1.3em;
    font-size: 1.3em;
}

h1,
h2,
h3,
h4 {
    color:$main-color;
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    font-family:$main-font;
    font-weight: 700;
    margin-top: 0;
    font-size: 2em;

}

h2 {
    font-weight: 400;
    font-size: 1.8em;
}

h3 {

    font-size: 1.5em;
}

h4 {
    font-size: 1.4em;
}

small,
.font_small {
    font-size: 0.707em;
}

button {
    background: transparent;
    border: none;
}

.page-link-button{
    font-weight:700;
    &:hover{
        color:$main-color-dk;
        @include transition(all .5s ease-in-out);

    }
}



.action-button{
    @include padding (5px 20px 5px 20px);
    border-radius:50px;
    border:2px solid $main-color;
    background:$main-color;    
    color:#fff;
    &:hover{
    color:$main-color;
    background:#fff;
    @include transition(all .5s ease-in-out);   

    }
}

 .page-links:hover{
  color:$main-color-cl !important;
   @include transition(all .5s ease-in-out);   
  }