<footer>

  <nav class="footer-links">
      <ul class="social-links">
          <li><%= link_to '', 'https://www.facebook.com/Serhombrenoesdelito-1717199591637333/', target: "_blank", :class => 'page-links fa fa-facebook', :style => 'color: #fff';%></li>
          <li><%= link_to '', 'https://twitter.com/SHNED_ORG/', target: "_blank", :class => 'page-links fa fa-twitter', :style => 'color: #fff';%></li>
          <li><%= link_to '', 'https://instagram.com/serhombrenoesdelito', target: "_blank", :class => 'page-links fa fa-instagram', :style => 'color: #fff';%></li>

      </ul>
      <ul class="page-links">
          <li><%= link_to 'Aviso Legal', 'legal', :class => 'page-links', :style => 'color: #fff'; %></li>
          <li><%= link_to 'Política de Privacidad', 'privacidad', :class => 'page-links', :style => 'color: #fff';%></li>
          <li><%= link_to 'Contacto', 'contacto', :class => 'page-links', :style => 'color: #fff';%></li>
      </ul>
  </nav>
  
  
</footer>