<header>
  <nav>
    <div class="brand">
      <%= link_to '#SerHombreNoEsDelito', 'inicio', :class => "logo"%>
    </div>
   <ul>
    
      <!--<li><a>Lorem</a></li>-->
      <!--<li><a>Lorem2</a></li>-->
      <!--<li><a>Lorem3</a></li>-->
      <li>
        <%= link_to 'Imprimir cartel', asset_path("shned.pdf"), target: "_blank", :class => 'action-button' %>
      </li>
   </ul>
  </nav>
</header>