
<% @page_title = "Artículos" %>

<div class="content">

   <article>
     <div>
         <h3><%= @page_title%></h3>
            <li><%= link_to '"Nadie habla de los hombres maltratados"', 'https://www.elconfidencial.com/sociedad/2010-04-24/nadie-habla-de-los-hombres-maltratados_395936/', target: "_blank"%></li>
         <p>
            El hombre maltratado también existe. No es ni un concepto nuevo ni un símbolo ni la nueva peor moda. “Nacho es sólo un ejemplo”, asegura el juez Francisco Serrano. “Hay muchos inocentes encarcelados porque sus mujeres los denunciaron falsamente”.
         </p>
            <li><%= link_to 'Dos hombres, absueltos de una agresión sexual tras casi dos años en prisión provisional', 'http://www.20minutos.es/noticia/3182680/0/absueltos-agresion-sexual-dos-anos-carcel/', target: "_blank"%></li>
         <p>
            Dos hombres que han pasado 21 meses en prisión provisional, acusados agredir sexualmente enero de 2016 a una mujer en una casa ocupada de San Sebastián, han sido absueltos después de que en el juicio la presunta víctima no recordara lo ocurrido y fuera incapaz de identificar a sus supuestos atacantes. 

         </p>
         
          <li><%= link_to 'Los 11 meses en prisión del maltratador inocente, víctima de su pareja embustera
', 'https://www.elespanol.com/reportajes/20171028/257724459_0.html', target: "_blank"%></li>
         <p>
            José Antonio, camarero, entró en la cárcel por las reiteradas denuncias falsas de su exmujer. "La ley de violencia de género culpabiliza de inmediato al hombre", dice. Su antigua mujer, Raquel Valle, fue condenada en 2012 a 20 meses de prisión por falso testimonio. 

         </p>
           <li><%= link_to 'Baleares garantizará un empleo público con un sueldo de mínimo 1800€ a las mujeres víctimas de violencia de género', 'https://elpais.com/economia/2017/11/11/actualidad/1510427777_452466.html', target: "_blank"%></li>
         <p>
            El Gobierno balear garantizará a las víctimas de violencia de género, a partir de 2018, un contrato de doce meses en empresas públicas, corporaciones locales u ONG

         </p>
         
     </div>
   </article>
    
</div>

<footer class="solid-footer">
   <%= render 'modules/footer' %>
</footer>
