
<% @page_title = "Contacto" %>

<div class="content">

   <article class="pitch">
     <div class="pitch-content">
        <h2><%= @page_title%></h2>
        <h4>Correo electrónico</h4>
        <p>
            info@serhombrenoesdelito.com
        </p>
         <span>
            No dudes en escribirnos si deseas saber más acerca de la iniciativa o quieres colaborar con nosotros.  
 
         </span>
         <h4>Grupo de Telegram <i class="fa fa-telegram"></i></h4>
          <span>
           ¿Sufres discriminación por ser hombre? Anímate y participa en nuestros debates diarios sobre noticias relacionadas con las leyes viogen. 
           <br>
           <br>
           <%= link_to 'Enlace al grupo', '', target: "_blank", :style => 'color:$main-color'; %>
         </span>
        
     </div>
     
     
   </article>
   
    
</div>
<footer>

  <nav class="footer-links">
      <ul class="social-links">
          <li><%= link_to '', 'https://www.facebook.com/Serhombrenoesdelito-1717199591637333/', target: "_blank", :class => 'page-links fa fa-facebook', :style => 'color: $main-color';%></li>
          <li><%= link_to '', 'https://twitter.com/SHNED_ORG/', target: "_blank", :class => 'page-links fa fa-twitter', :style => 'color: $main-color';%></li>
          <li><%= link_to '', 'https://instagram.com/serhombrenoesdelito', target: "_blank", :class => 'page-links fa fa-instagram', :style => 'color: $main-color';%></li>

      </ul>
      <ul class="page-links">
          <li><%= link_to 'Aviso Legal', 'legal', :class => 'page-links', :style => 'color: $main-color'; %></li>
          <li><%= link_to 'Política de Privacidad', 'privacidad', :class => 'page-links', :style => 'color: $main-color';%></li>
          <li><%= link_to 'Contacto', 'contacto', :class => 'page-links', :style => 'color: $main-color';%></li>
      </ul>
  </nav>
  
  
</footer>