
 <div class="hero-content">

   <article class="pitch">
     <div class="pitch-content">
            <p>
                Iniciativa independiente en contra de la persecución sistemática del hombre por parte de las instituciones y medios de comunicación. 
            </p>
            <p>
                No a las Leyes Viogen, sí a la igualdad ante la ley. <span> Ser hombre no es delito</span>, que no te convenzan de lo contrario, difunde el mensaje, juntos podemos construir una sociedad más justa. 
            </p>
            <p><i class="fa fa-newspaper-o"></i><%= link_to ' Ver artículos', 'blog', :class => "page-link-button"%></p>
     </div>
     
   </article>
   
</div>
<footer class="hero-footer">
        <%= render 'modules/footer' %>

</footer>