
<% @page_title = "Aviso Legal" %>

<div class="content">

   <article>
     <div>
        <h1><%= @page_title%></h1>
        <h3>I. Información general</h3>
        <h4>Aceptación de las presentes condiciones generales</h4>
        <p>
        Estas condiciones generales se aplican al acceso, uso, empleo de cookies, propiedad intelectual y privacidad de los usuarios en los sitios web y servicios prestados por www.serhombrenoesdelito.com a través de internet.
        </p>
        <p>
        El acceso a la web implicará la aceptación de las condiciones de uso, empleo de cookies y política de privacidad que estén vigentes en el momento del acceso y publicadas en este aviso legal.         </p>
        </p>
         <h4>Información de contacto</h4>
        <p>
        Los interesados en contactar con los responsables de la plataforma podrán hacerlo escribiendo un correo electrónico a la siguiente dirección <%= link_to 'info@serhombrenoesdelito.com', '', :style => 'font-weight:400'; %>
        </p>
         <h3>Exclusión de garantías y responsabilidad</h3>
     
        <p>
            El usuario se abstendrá de utilizar cualquiera de los servicios y contenidos de esta web con fines o efectos ilícitos, prohibidos en estas condiciones, que vulneren los derechos y libertades de otras personas o
            que de cualquier forma puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la utilización normal y correcta de los servicios de esta web, los equipos informáticos o los documentos, archivos y contenidos
            almacenados en esta plataforma. 
        </p>
        <p>
            El usuario se compromete a usar esta web y sus servicios de forma correcta y diligente, cumpliendo la ley y respetando los derechos y libertades de los demás usuarios.
            Los administradores excluyen toda responsabilidad por informaciones publicadas por los usuarios, terceros y de las mismas serán responsables los usuarios o terceros de quienes procedan.

        </p>
        <p>
            Los administradores de www.serhombrenoesdelito.com no garantizan la licitud, fiabilidad, exactitud, exhaustividad, actualidad y utilidad de los contenidos.
        </p>
        
        <h3>Titularidad de contenidos y propiedad intelectual</h3> 
        <p>
            Toda la información contenida en esta web, incluyendo imágenes, diseños gráficos o códigos informáticos, nombres comerciales, marcas y signos distintivos, entre otros, es propiedad intelectual e industrial
            de www.serhombrenoesdelito.com , salvo que se indique el autor particular.
        </p>
        <p>
            Se autoriza la difusión y uso de los contenidos de esta web, permitiendo reproducir, copiar, distribuir, modificar, ceder o comunicar públicamente los contenidos de esta web con fines informativos.
        </p>
        <h4>Enlaces</h4>
        <p>
            Este sitio web podrá contener enlaces a webs de terceros. Los administradores no  asumen ninguna responsabilidad por los contenidos, informaciones o servicios
que aparezcan en dichos sitios web, los cuales tendrán un carácter exclusivamente informativo.
        </p>
     </div>
   </article>
    
</div>

<footer class="solid-footer">
   <%= render 'modules/footer' %>
</footer>
