
<% @page_title = "Privacidad" %>

<div class="content">

   <article>
     <div>
        <h3><%= @page_title%></h3>
        <h4>Datos contenidos</h4>
        <p>
        Los ficheros de www.serhombrenoesdelito.com no contienen datos de carácter privado ni requieren información para identificar personas físicas.
        </p>
        <h4>Cookies</h4>
        <p>
            Una cookie es un archivo que se descarga en su equipo terminal con la finalidad de almacenar datos que podrán ser actualizados y recuperados por la entidad responsable de su instalación.
        </p>
        <p>
            Al igual que otros sitios web, www.serhombrenoesdelito.com utiliza una tecnología denominada “cookies” para recabar información acerca del uso de nuestro sitio web. 
            Consentimiento 

        </p>
        <p>
            Le informamos de que podemos utilizar cookies en su equipo a condición de que Usted haya dado su consentimiento, salvo en los supuestos en los que las cookies sean 
            necesarias para la navegación por nuestro sitio web. En caso de que Usted preste su consentimiento, podremos utilizar cookies que nos permitirán tener más información acerca
            de sus preferencias y personalizar nuestro sitio web de conformidad con sus intereses individuales. 

        </p>
           <p>
             Utilizamos cookies propias y de terceros para mejorar nuestros servicios, personalizar nuestro sitio web, facilitar la navegación de nuestros usuarios, proporcionarle una mejor experiencia
             en el uso del sitio web, identificar problemas para mejorar el mismo, hacer mediciones y estadísticas de uso y mostrarle publicidad relacionada con sus preferencias mediante el análisis del
             uso del sitio web.
           </p>
     </div>
   </article>
    
</div>
<footer class="solid-footer">
   <%= render 'modules/footer' %>
</footer>
