// .content-contact{
  
//   @include grid-container;
//     @include size (100% 100%);
//     background:$main-color;
//     article{
//         position:absolute;
//         @include grid-media($tablet){   
//         position:relative;
//         } 
          
//             div{
//                 background:#fff;
//             @include padding(2% 2% 2% 2%);
//             @include grid-column(12);
//             @include grid-media($tablet){  
//             @include grid-column(5);
//             @include grid-push(1);
//             } 
//             h4{
//                 text-transform:uppercase;
//             }
//             span{
//                 margin:15px auto;
//                 font-size:1.2em;
//                 font-weight:300;
//                 color:$grey;
//             }
  
//             p {
//                 font-size:1.3em;
//                 font-weight:300;
//                 color:$grey;
//                 @include grid-media($tablet){
//                 font-size:1.5em;
//                 }
//             }
//         }

//     }
// }


// .page-links-contact{

//         text-align:left;
//                  li{
//                      display:inline-block;
//                      margin-right:25px;
//                     color:$main-font;
//                 }
//         }
