$main-bg:asset_path("hero-bg.jpg");



.hero-content{
    @include grid-container;
    @include size (100% 100%);
    position: fixed;
    background:$main-color;
    
    @include grid-media($tablet){
        background:url($main-bg) no-repeat 0 center;
        background-size:cover; 
        
    }
      
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
    }
    &:before {
        @include grid-container;
        @include grid-media($tablet){    
        background:#fff;
        width:100%;
        height:30%;
        margin-top:-8%;
        @include transform(scale(3) rotate(-18deg));
        
        }
    }
      
    article{
        background:#fff;
        position:absolute;
        @include grid-media($tablet){   
        position:relative;
        } 
          div{
            @include padding (4% 0 4% 0); 
            @include grid-column(12);
            @include grid-media($tablet){  
            @include grid-column(7);
            @include grid-push(1);
            } 
            p {
                font-size:1.3em;
                font-weight:300;
                color:$grey;
                @include grid-media($tablet){
                font-size:1.5em;
                }
            }
            span{
                color:$main-color;
                font-weight:400;
                font-style:italic;
                }
            i{
                color:$main-color;
                font-weight:700;
            }
        }

    }

  
}

 

