
.content{
    @include grid-container;
    @include size (100% 100%);
          

    article{
        width:100%;
        @include grid-media($tablet){  
            
        } 
        div{
            @include grid-column(12);
            @include grid-media($tablet){  
            @include grid-column(10);
            @include grid-push(1);
            } 
            h3{
                text-transform:uppercase;
            }
            p {
                font-size:1.3em;
                font-weight:300;
                color:$grey;
                @include grid-media($tablet){
                font-size:1.5em;
                }
            }
        }

    }

  
}

 

