.hero-footer{
    background:transparent !important;
    position:absolute;
    
}

.solid-footer{
    background:$main-color;
    position:relative;
    
}

 
footer{
    @include grid-container;
    right: 0;
    left: 0;
    bottom: 0;
    

    .footer-links{
        color:#fff;
        font-weight:700;
        font-size: 1em;
        @include grid-column(12);
                @include padding(2% 0px 2% 0px);

        @include grid-media($tablet){
                @include padding(4% 0px 4% 0px);

        font-size: 1.3em;
        @include grid-column(10);
        @include grid-push(1);
        }
        
        ul{
            @include grid-media($tablet){
            @include padding(1% 0px 1% 0px);
             }

            @include grid-column(12);
            li{
                
                margin-left: 4%;
        
            }
            
 
        }
        .social-links{
            text-align:center;
            @include grid-media($tablet){
              text-align:right;
            }
            li{
                display: inline-block;
            
            }
        
            
        }
        .page-links{
        
            text-align:center;
            @include grid-media($tablet){
                text-align:right;
                 li{
                     display: inline-block;
                       color:#fff;
                }
            }
            
        }
    }
    


}

