header{
    @include grid-container;
    overflow:hidden;
    position: relative;
    z-index:99999;
    background:#fff;
    @include padding(50px 0px 50px 0px);
    

    
   nav{
       
        @include grid-media($tablet){
         margin-top:2%;
        }
    
       .brand{
            float:left;
            text-align:center;
            @include grid-column(12);
            @include grid-media($tablet){
                text-align:left;
                @include grid-column(4);
                @include grid-push(1);
                
            }
            .logo{
                font-family:$second-font;
                color:$main-color;
                font-size:2.3em;
            }

       }
        
        ul{
            text-align:center;
            @include grid-column(12);
            @include grid-media($tablet){
            text-align:right;
            @include grid-column(6);
            
            }

            li{
                @include grid-media($tablet){
                    display: inline-block;
                    margin-left:5%;
                }
                &:last-child{
                   @include padding(10px 0px 10px 0px);
                    font-size:1.3em;
  
                    
                }
            
            }
        }
   }
    
}