
/* NEAT CONFIG*/



$tablet: (
  media: "(min-width: 768px)",
);




/* ---------------Neat Config------------------------*/



/* M I X I N S */

@mixin center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@mixin abs-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}


@mixin vertical-align () {
    position: relative;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}




/*------------------------MIXINS------------------------------*/
