<!DOCTYPE html>
<html>
<head>
  <title>
    <% if @page_title %>
      <%= @page_title %>
      | #SerHombreNoEsDelito
    <% else %>
      #SerHombreNoEsDelito
    <% end %>
    </title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'modules/header' %>
<%= yield %>


</body>
</html>
